{% extends "base.html" %}
	
	{% block title %}
		About One Click DTU
	{% endblock %}

	{% block keywords %}
		DTU,One Click DTU, About
	{% endblock %}

	{% block cssfile %}
		
	{% endblock %}

	
	{% block content %}

	<div class="about" style="font-family:edo;color:#333;font-size:21px;font-weight:bold;">
	<h1 style="font-family:JennaSue;font-size:36px;font-weight:bold;color:red;"> About One Click DTU</h1>	<br> Life is Limited , Time you have is precious so why waste it?  <br>


<br>
One Click DTU is just a project which shows the most opened or good helpful links relating to Delhi Technological University in one single page. Some other useful Features like "Upcoming Events " are also there.
The main motivation behid this project is to use technology to make our life easier. <br>

Please help One Click DTU grow bigger by contributing your the useful links to it. <br>
If you have any objection against the website or its content then kindly let us know (Again.. This is just a project!). And if you see any bugs please report it on the facebook page or through email .Any kind of suggestion , contribution, are welcome :) </div>
		
	{% endblock %}	

	{% block script %}
		
	{% endblock %}
